* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
}